doctype html
html
  head
    title= title
    script(src="javascripts/constants.js")
    script webapp.server = 'http://#{dbip}:5984/'
    script(defer src="javascripts/index.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://www.gstatic.com/charts/loader.js")
  body
    h1= title
    select(id="topic")
      each i in ['Geo-wise comparison', 'Time-wise comparison']
        option= i
    select(id="designSelector")
      each i in ["polarity", "temper", "attitude", "introspection", "sensitivity"]
        option= i
    select(id="saSelector")
      each i in ['sa4', 'sa3', 'sa2']
        option= i
    select(id="year")
      option 2014-2015
    select(id="columnSelector" style="float:right")
    select(id="aurinSelector" style="float:right")
    div(id="legend" style="width:30%")
      div(id="valueMin") min
      div(class="color-key")
        span(id="data-caret") ◆
      div(id="valueMax") max
    div(id="aurinLegend" style="width:30%; margin-left: 70%")
      div(id="aurinValueMin") min
      div(class="color-key")
        span(id="aurinData-caret") ◆
      div(id="aurinValueMax") max
    div(id="tooltip" style="visibility: hidden; position: absolute; top: 20px; left: 20px; z-index: 1")
      span(id="tooltiptext")
    div(id="map" style="width:32.5%; height:500px; display:inline-block")
    script(defer src="https://maps.googleapis.com/maps/api/js?key="+key+"&callback=webapp.init&v=weekly")
    div(id="chart" style="display:none; width:32.5%; height:500px")
    div(id='text' style='position:absolute; display:inline-block; width:25%; margin-left:5%; height:500px; background-color:cyan')
      p(id='area')
      p(id='maxT')
      p(id='minT')
    div(id='aurinMap' style="width:32.5%; height:500px; display:inline-block; margin-left:35%; background-color:green")
    div(id='aurinChart' style="display:none; width:32.5%; height:500px; margin-left:35%")
